/* Add CSS Styling */
.odd {
    background-color: #CD5C5C;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#id1 {
    color: #008080;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#id2 {
    background-color: #00FF00;
    font-size: 24px;
    font-weight: bold;
}